
<div id="container">
    <div id="profile-menu">
        <div style="position: absolute; top: 5px">
            <div id="pfp-container"><div class="loading"></div></div>
            <div id="email-container"><div class="loading"></div></div>
            <div id="menu-button">
                <div class="button-line"></div>
                <div class="button-line"></div>
                <div class="button-line" style="margin: 0;"></div>
            </div>
        </div>
        <div id="menu" class="menu-closed"><div style="margin-bottom: 5px;">
            <div class="menu-item-text red" (click)="logout()">Logout</div>
        </div></div>
    </div>
    <app-under-construction></app-under-construction>
</div>
<app-loading></app-loading>